      <div class="companies-container col-lg-9">
        <div class="header-companies col-4">
          <h2>companies<br> i have<br> collaborated with</h2>
        </div>
        <div class="list-companies col-8">
          <div class="card-list">
            <div class="card-category" style="background-color: white">
              <div class="logo">
                <%= image_tag "ikea_logo.jpg" %>
              </div>
            </div>

            <div class="card-category" style="background-color: white">
              <div class="logo">
                <%= image_tag "ING_logo.png" %>
              </div>
            </div>

            <div class="card-category" id="philips" style="background-color: white">
              <div class="logo">
                <%= image_tag "philips_logo.png" %>
              </div>
            </div>

            <div class="card-category" style="background-color: white">
              <div class="logo">
                <%= image_tag "citibank_logo.png" %>
              </div>
            </div>

            <div class="card-category" style="background-color: white">
              <div class="logo">
                <%= image_tag "qantas_logo.png" %>
              </div>
            </div>

            <div class="card-category" id="macquarie" style="background-color: white">
              <div class="logo">
                <%= image_tag "macquarie_logo.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>
